.center-style {
    display: flex;
    justify-content: center;
    width: 100%
}

.mainCard{
    background-color: rgb(240, 240, 240);
    max-width: 100%;
}

.innerCard{
    display: flex;
}

.h22{
    font-weight:normal;
    margin-right:3%;
    margin-top:10px;
    margin-left:4%;
}

.p{
    text-align:right;
    margin-right:5%;
}

.butt {
    border:none;
    background-color: rgb(53, 42, 83);
    color: white;
    margin-left:22%;
    border-radius: 3px;
    width: 28%;
    height:40px;
    padding: 2px 2px;
    margin-top:10px;
}

@media (min-width: 960px){
    .MuiGrid-grid-md-6-362 {
        flex-grow: 0;
        max-width: 100%!important;
        flex-basis: 100%!important;
    }
    .MuiGrid-grid-md-8-364{
        flex-basis: 100%!important;
        max-width: 100%!important;
    }
}